html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0e0e16;
}
/* ======= FUNDAL + CARD ======= */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e2e; 
  margin: 0;
  color: #e0e0e0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-card {
  background: #2a2a40;
  padding: 60px 50px;
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 420px;
  text-align: center;
  transition: transform 0.2s ease;
}

.login-card:hover {
  transform: scale(1.01);
}

/* ======= TITLU + SUBTITLU ======= */
.title {
  font-size: 30px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, #7c3aed, #3068c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.5;
  background-clip: text;
  text-align: center;
}

.subtitle {
  font-size: 15px;
  margin-bottom: 30px;
  color: #c0c0c0;
}

/* ======= FORMULAR ======= */
.login-card form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-card label {
  font-size: 15px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #d1d5db;
}

.login-card input {
  padding: 12px;
  border: 1px solid #4f46e5;
  border-radius: 10px;
  margin-bottom: 18px;
  font-size: 15px;
  color: #111;
  background-color: white;
}

.login-card input:focus {
  outline: none;
  border-color: #7c3aed;
  box-shadow: 0 0 5px rgba(124, 58, 237, 0.4);
}

/* ======= BUTON LOGIN ======= */
.login-card button {
  background: linear-gradient(90deg, #7c3aed, #4f46e5);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.login-card button:hover {
  transform: translateY(-2px);
  background: linear-gradient(90deg, #8b5cf6, #6366f1);
}

/* ======= TEXT DE SUB BUTON======= */
.signup-text {
  font-size: 14px;
  margin-top: 25px;
  color: #a1a1aa;
}

.signup-text a {
  color: #a78bfa;
  text-decoration: none;
  font-weight: 600;
}

.signup-text a:hover {
  text-decoration: underline;
}